/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* BASE */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: rgb(34 34 34);
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    cursor: url('../favicon/cursor/favicon.ico'), auto;
    /* background: linear-gradient(180deg, rgba(243 202 189 / 1) 20%, rgba(241 252 232 / 1) 30%); */
    
    background: linear-gradient(45deg, rgb(241 252 232) 25%, rgb(243 202 189) 50%, rgb(241 252 232) 75%, rgb(243 202 189) 100%);
    background-size:  400% 400%;
    animation: gradient 10s ease infinite;
}


/* GRADIENT BG (codepen creds: Colt Steele) */

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

h1 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 100px;
}

h2 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 64px;
}

h3 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
}

h4 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
}

.display-italic {
    font-style: italic;
    font-weight: 400;
}

.sub-h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.sub-h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 26px;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: url('../favicon/hover/favicon.ico'), auto;
}


/* RESPONSIVE IMG */

img {
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}


/* CONTAINER */

.container {
    max-width: 1000px;
    margin: 0 auto;
}


/* FLEX GRID */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.swapped {
    flex-direction: row-reverse;
}

.row>.column {
    flex-grow: 1;
    width: 98%;
    margin-bottom: 20px;
    flex-shrink: 0;

    @media (min-width: 768px) {
        &.centered {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            flex-grow: 0;
        }

        &.one-half {
            width: 48%;
        }

        &.one-third {
            width: 31.3333%;
        }

        &.two-thirds {
            width: 64.6666%;
        }

        &.one-fourth {
            width: 23%;
        }

        &.one-fifth {
            width: 18%;
        }


    }
}


/* HEADER */

header {
    padding: 1em;
    font-size: 20px;
}

.nav-item a {
    font-weight: 600;
}

.hero-tagline {
    font-weight: 400;
    font-size: 35px;
}

/* DROP DOWN MENU (codepen creds: @Mark_Bell00 */

.dropdown {
    display: none;
}

@media (min-width: 768px) {
    nav {
        &.primary-navigation {
        
            ul li {
                list-style: none;
                padding: 0 10px 15px 20px;
                position: relative;
                text-decoration: none;
            }
        
            li a:hover {
                color: rgb(76 90 68);
            }
        
            ul li ul {
                visibility: hidden;
                position: absolute;
                display: none;
                background: rgb(241 252 232 / .9);
                border-radius: 5px;
                border: 1.5px solid rgb(76 90 68);
            }
        
            ul li:hover > ul,
            ul li ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
                min-width: 250px;
                text-align: left;
                padding-top: 20px;
            }

            ul li ul li a::before {
                display: none;
            }
        
            ul li ul li {
                clear: both;
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
                border-style: none;
            }

            ul li ul li a {
                color: rgb(76 90 68);
            }
        
            ul li ul li a:hover {
                padding-left: 10px;
                border-left: 2px solid rgb(76 90 68);
                transition: all 0.3s ease;
            }
        }
    }
    
    ul li ul li a {
        transition: all 0.5s ease;
    }

}


/* HERO */

.hero {
    height: 700px;
    display: grid;
    text-align: center;
    align-items: center;
    place-content: center;
    justify-content: center;
    margin-bottom: 2em;
}


/* ABOUT */

.about-hero {
    height: 700px;
    display: grid;
    text-align: center;
    align-items: center;
    place-content: center;
    justify-content: center;
    margin-bottom: 15em;
    margin-top: 8em;
}

.about-hero h2 {
    text-align: left;
    font-weight: 700;
    font-size: 50px;
}

.about-hero p {
    max-width: 700px;
    text-align: left;
    font-size: 20px;
}

.about-info {
    max-width: 700px;
}

.goals-heading  {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-top: 1em;
}

.about-info .row {
    margin-top: 5em;
}

@media (min-width: 768px) {
    .about-hero {
        height: 700px;
        display: grid;
        text-align: center;
        align-items: center;
        place-content: center;
        justify-content: center;
        margin-bottom: 2em;
        margin-top: 0;
    }
}


/* PROJECTS */

#projects h3 {
    color:rgb(76 90 68);
    margin-bottom: 20px;
}

.student h3 {
    text-align: left;
    margin-top: 3em;
}

.projects-title {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.projects-text {
    margin-top: 10px;
    font-size: 16px;
}

/* HOVER TEXT (codepen creds: badalsaibo) */

.projects-img {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.projects-img img {
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.projects-box {
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.projects-box a {
    color: white;
}

.caption {
    position: absolute;
    bottom: 50px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.student .caption {
    bottom: 120px;
    left: 20px;
}

.transparent-box {
    height: 350px;
    width: 350px;
    background-color:rgb(76 90 68 / 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.projects-box:hover img { 
    transform: scale(1.1);
}

.projects-box:hover .transparent-box {
    background-color:rgb(76 90 68 / 0.4);
}

.projects-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 1;
}

@media (min-width: 768px) {

}


/* GALLERY */

.gallery-h1 {
    font-style: italic;
    font-weight: 400;
}

.gallery-sub {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}

/* SWIPER */

.swiper-container {
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    background-color: rgb(76 90 68 / 0.6);
}

.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: rgb(76 90 68);
}


/* FOOTER */

footer {
    margin-top: 70px;
    display: flex;
    flex-flow: row wrap;
    padding: 3em 3em 0 3em;
    background-color: rgb(163 191 141);
}

footer .row {
    align-items: normal;
}

footer>* {
    flex: 1 100%;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    line-height: 2em;
}

footer a:hover {
    color: rgb(241 252 232);
}

.social-nav ul {
    display: flex;
    margin-top: 60px;
}

.icons li {
    margin-right: 1em;
    margin-left: 0;
}

.icons li a {
    color: rgb(76 90 68);
}

.icons li a:hover {
    color: rgb(241 252 232);
}

.nav-pages li {
    margin-bottom: 1em;
}

.nav-pages a {
    color: rgb(34 34 34);
    font-weight: 600;
    font-size: 20px;
}

.selected a {
    color: rgb(241 252 232);
}

.nav-title {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.footer-tags li {
    display: inline-block;
    max-width: 205px;
    text-align: center;
    background: rgb(76 90 68);
    border-radius: 0.4em;
    padding: 0.2em 2em;
    margin-bottom: 10px;
    color: rgb(255 255 255);
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .nav-pages li {
        margin-bottom: 1em;
        margin-left: 3.5em;
    }

    .site-footer-nav>* {
        flex: 1;
    }

    .nav-item--extra {
        flex-grow: 2;
    }

    .footer-info {
        flex: 1 0px;
    }

    .site-footer-nav {
        flex: 2 0px;
    }

    .footer-wave-svg {
        height: 50px;
    }

    .copyright {
        margin-left: auto;
    }
}


/* SCROLL ARROW (codepen creds: Mike Wagz) */

.scroll-down-dude {
    margin: auto;
    margin-top: 5em;
}

.scroll-down-dude:before,
.scroll-down-dude:after {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-bottom: 4px solid rgb(34 34 34);
	border-right: 4px solid rgb(34 34 34);
}

.scroll-down-dude:before {
	animation: down-arrow-before 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll-down-dude:after {
	animation: down-arrow-after 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes down-arrow-before {
	50% {
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-after {
	50% {
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}


/* ANIMATED GRADIENT BORDER (codepen creds: Johnny Fekete) */

.animated-box {
    position: relative;
}

.animated-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(120deg, rgb(76 90 68), rgb(241 252 232), rgb(243 202 189));
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
    animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 15% 0%;
    }
    50% {
        background-position: 85% 100%;
    }
    100% {
        background-position: 15% 0%;
    }
}