/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* BASE */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: rgb(34 34 34);
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    cursor: url('../favicon/cursor/favicon.ico'), auto;
    /* background: linear-gradient(180deg, rgba(243 202 189 / 1) 20%, rgba(241 252 232 / 1) 30%); */
    
    background: linear-gradient(45deg, rgb(241 252 232) 25%, rgb(243 202 189) 50%, rgb(241 252 232) 75%, rgb(243 202 189) 100%);
    background-size:  400% 400%;
    animation: gradient 10s ease infinite;

    counter-reset: item;
}

h1 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 100px;
}

h2 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 64px;
}

h3 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
}

h4 {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
}

.display-italic {
    font-style: italic;
    font-weight: 400;
}

.sub-h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sub-h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    max-width: 650px;
}

.grey-caption {
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    color: rgb(34 34 34 / 0.6);
}

a {
    text-decoration: none;
}

a:hover {
    cursor: url('../favicon/hover/favicon.ico'), auto;
}

.text-centered {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* GRADIENT BG (codepen creds: Colt Steele) */

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}


/* RESPONSIVE IMG */

img {
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}


/* VIDEO */

video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


/* CONTAINER */

.container {
    max-width: 1000px;
    margin: 0 auto;
}


/* FLEX GRID */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.swapped {
    flex-direction: row-reverse;
}

.row>.column {
    flex-grow: 1;
    width: 98%;
    margin-bottom: 20px;
    flex-shrink: 0;

    @media (min-width: 768px) {
        &.centered {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            flex-grow: 0;
        }

        &.one-half {
            width: 48%;
        }

        &.one-third {
            width: 31.3333%;
        }

        &.two-thirds {
            width: 64.6666%;
        }

        &.one-fourth {
            width: 23%;
        }

        &.one-fifth {
            width: 18%;
        }


    }
}


/* HEADER */

header {
    padding: 1em;
    font-size: 20px;
}

.nav-item a {
    font-weight: 600;
}

.hero-tagline {
    font-weight: 400;
    font-size: 35px;
}

/* DROP DOWN MENU (codepen creds: @Mark_Bell00 */

.dropdown {
    display: none;
}

@media (min-width: 768px) {
    nav {
        &.primary-navigation {
        
            ul li {
                list-style: none;
                padding: 0 10px 15px 20px;
                position: relative;
                text-decoration: none;
            }
        
            li a:hover {
                color: rgb(76 90 68);
            }
        
            ul li ul {
                visibility: hidden;
                position: absolute;
                display: none;
                background: rgb(241 252 232 / .9);
                border-radius: 5px;
                border: 1.5px solid rgb(76 90 68);
                z-index: 1;
            }
        
            ul li:hover > ul,
            ul li ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
                min-width: 250px;
                text-align: left;
                padding-top: 20px;
            }

            ul li ul li a::before {
                display: none;
            }
        
            ul li ul li {
                clear: both;
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
                border-style: none;
            }

            ul li ul li a {
                color: rgb(76 90 68);
            }
        
            ul li ul li a:hover {
                padding-left: 10px;
                border-left: 2px solid rgb(76 90 68);
                transition: all 0.3s ease;
            }
        }
    }
    
    ul li ul li a {
        transition: all 0.5s ease;
    }

}


/* HERO */

.hero {
    height: 700px;
    display: grid;
    text-align: center;
    align-items: center;
    place-content: center;
    justify-content: center;
    margin-bottom: 2em;
}


/* ABOUT */

.about-hero {
    height: 700px;
    display: grid;
    text-align: center;
    align-items: center;
    place-content: center;
    justify-content: center;
    margin-bottom: 15em;
    margin-top: 8em;
}

.about-hero h2 {
    text-align: left;
    font-weight: 700;
    font-size: 45px;
}

.about-hero p {
    max-width: 700px;
    text-align: left;
    font-size: 20px;
}

.about-info {
    max-width: 700px;
}

.goals-heading  {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-top: 1em;
}

.about-info .row {
    margin-top: 5em;
}

@media (min-width: 768px) {
    .about-hero {
        height: 700px;
        display: grid;
        text-align: center;
        align-items: center;
        place-content: center;
        justify-content: center;
        margin-bottom: 2em;
        margin-top: 0;
    }
}


/* PROJECTS */

#projects h3 {
    color:rgb(76 90 68);
    margin-bottom: 20px;
}

.student h3 {
    text-align: left;
    margin-top: 3em;
}

.projects-title {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.projects-info {
    margin-top: 50px;
}

.projects-text {
    margin-top: 10px;
    font-size: 16px;
}

.projects-subhead {
    margin-bottom: 0;
}

.projects-tags {
    list-style: none;
    padding: 0;
}

.projects-tags li {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    background: rgb(76 90 68 / 0.1);
    border: 1px solid rgb(76 90 68);
    border-radius: 0.8em;
    padding: 0.1em 1em;
    margin: 0 auto;
    color: rgb(34 34 34);
}

.projects-sections {
    margin-top: 200px;
    margin-bottom: 200px;
}

.line-down {
    border: .6px solid rgb(34 34 34 / .3);
    transform: rotate(90deg);
    margin: 100px auto;
    max-width: 100px;
}

.problem {
    text-align: left;
    place-items: center;
}

.solution {
    text-align: left;
    place-items: center;
}

.projects-sections h3 {
    margin-bottom: 20px;
}

.hi-fi {
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.hi-fi a {
    color: rgb(34 34 34);
}

.hi-fi a:hover {
    text-decoration: underline;
}

.projects-pgs {
    display: flex;
    justify-content: space-between;
}

.projects-pgs a {
    color: rgb(76 90 68);
    font-weight: 600;
    font-size: 16px;
}

.next::after {
    content: '\276F';
    padding-left: 1em;
}

.previous::before {
    content: '\276E';
    padding-right: 1em;
}

/* HOVER TEXT (codepen creds: badalsaibo) */

.projects-img {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.projects-img img {
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.projects-box {
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.projects-box a {
    color: rgb(255 255 255);
}

.caption {
    position: absolute;
    bottom: 50px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.student .caption {
    bottom: 120px;
    left: 20px;
}

.transparent-box {
    height: 350px;
    width: 350px;
    background-color:rgb(76 90 68 / 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.projects-box:hover img { 
    transform: scale(1.1);
}

.projects-box:hover .transparent-box {
    background-color:rgb(76 90 68 / 0.4);
}

.projects-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 1;
}

/* CAROUSEL (codepen creds: Alina Basova) */

.carousel-wrapper {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    height: 100%;
    position: relative;
    padding: 0 0 0 50px;
    left: 0;
    margin: 0;
    transition: all 1s;
}

.carousel-inner .item {
    height: 100%;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0 50px 0 0;
}

.carousel-left,
.carousel-right {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
}

.carousel-left,
.carousel-right svg {
    position: absolute;
    top: 150px;
    color: rgb(76 90 68);
}

.carousel-left:before {
    left: 0;
}
.carousel-right:before {
    right: 0;
}

.carousel-left {
    left: 0;
}

.carousel-right {
    right: 0;
}

@media (min-width: 768px) {
    .projects-pgs {
        display: flex;
        justify-content: space-between;
    }
    
    .projects-pgs a {
        color: rgb(76 90 68);
        font-weight: 600;
        font-size: 20px;
    }
    
    .projects-pgs a:hover {
        transform: scale(1.1);
    }
    
    .next::after {
        content: '\276F';
        padding-left: 1em;
    }
    
    .previous::before {
        content: '\276E';
        padding-right: 1em;
    }
}


/* KA HUE ANAHA MAGAZINE */

.magazine-hero {
    margin-top: 50px;
    height: 420px;
}

.magazine-hero h1 {
    font-size: 90px;
}

@media (min-width: 768px) {
    .magazine-hero {
        margin-top: 50px;
        height: 335px;
    }

    .magazine-hero h1 {
        font-size: 100px;
    }
}


/* WAQ */

.waq-hero {
    margin-top: 50px;
    height: 310px;
}

.waq-hero h1 {
    font-size: 90px;
}

.turtle {
    text-align: center;
}

@media (min-width: 768px) {
    .waq-hero {
        margin-top: 50px;
        height: 205px;
    }

    .waq-hero h1 {
        font-size: 100px;
    }
}


/* IDLE CAFE */

.idle-hero {
    margin-top: 50px;
    height: 205px;
}

.idle-hero h1 {
    font-size: 90px;
}

.cafe-logo {
    margin-top: 20px;
    text-align: center;
}

.cafe-logo img {
    margin-top: 35px;
}

.item-info {
    text-align: center;
    font-weight: 600;
}

@media (min-width: 768px) {
    .idle-hero {
        margin-top: 50px;
        height: 215px;
    }
    
    .idle-hero h1 {
        font-size: 100px;
    }
}


/* HAIKYUU */

.haikyuu-hero {
    margin-top: 50px;
    height: 180px;
}

.haikyuu-hero h1 {
    font-size: 70px;
}

@media (min-width: 768px) {
    .haikyuu-hero {
        margin-top: 50px;
        height: 215px;
    }
    
    .haikyuu-hero h1 {
        font-size: 100px;
    }
}


/* GALLERY */

.gallery-h1 {
    font-style: italic;
    font-weight: 400;
}

.gallery-sub {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}

/* SWIPER */

.swiper-container {
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    background-color: rgb(76 90 68 / 0.6);
}

.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: rgb(76 90 68);
}


/* FOOTER */

footer {
    margin-top: 70px;
    display: flex;
    flex-flow: row wrap;
    padding: 3em 3em 0 3em;
    background-color: rgb(163 191 141);
}

footer .row {
    align-items: normal;
}

footer>* {
    flex: 1 100%;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    line-height: 2em;
}

footer a:hover {
    color: rgb(241 252 232);
}

.social-nav ul {
    display: flex;
}

.icons li {
    margin-right: 1em;
    margin-left: 0;
}

.icons li a {
    color: rgb(76 90 68);
}

.icons li a:hover {
    color: rgb(241 252 232);
}

.nav-pages li {
    margin-bottom: 1em;
}

.nav-pages a {
    color: rgb(34 34 34);
    font-weight: 600;
    font-size: 20px;
}

.nav-pages .selected a {
    color: rgb(241 252 232);
}

.footer-projects li {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.footer-projects li a {
    color: rgb(34 34 34);
}

.footer-projects ul li {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.footer-projects ul li a {
    color: rgb(34 34 34 / 0.6);
}

.footer-projects ul li a:hover {
    color: rgb(34 34 34);
}

.footer-projects ul .selected a {
    color: rgb(34 34 33);
}

.nav-title {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.footer-tags li {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    background: rgb(76 90 68 / 0.3);
    border: 1px solid rgb(76 90 68);
    border-radius: 0.8em;
    padding: 0.1em 1em;
    margin-bottom: 10px;
    color: rgb(255 255 255);
}

.footer-logo a {
    display: none;
}

.desktop-h4 {
    display: none;
}

.desktop-copyright {
    display: none;
}

.mobile-line {
    margin-bottom: 30px;
}

.mobile-h4 {
    margin-top: 50px;
}

.mobile-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .nav-pages li {
        margin-bottom: 1em;
        margin-left: 3.5em;
    }

    .site-footer-nav>* {
        flex: 1;
    }

    .nav-item--extra {
        flex-grow: 2;
    }

    .footer-info {
        flex: 1 0px;
    }

    .site-footer-nav {
        flex: 2 0px;
    }

    .footer-wave-svg {
        height: 50px;
    }

    .social-nav ul {
        display: flex;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .footer-projects li {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 20px;
        text-align: left;
        margin-left: 70px;
    }   

    .footer-logo a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }    

    .desktop-h4 {
        display: block;
    }    

    .desktop-copyright {
        display: block;
        margin-left: auto;
        font-size: 14px;
    }

    .mobile-line {
        display: none;
    }

    .mobile-h4 {
        display: none;
    }

    .mobile-copyright {
        display: none;
    }
}


/* SCROLL ARROW (codepen creds: Mike Wagz) */

.scroll-down-dude {
    margin: auto;
    margin-top: 5em;
}

.scroll-down-dude:before,
.scroll-down-dude:after {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-bottom: 4px solid rgb(34 34 34);
	border-right: 4px solid rgb(34 34 34);
}

.scroll-down-dude:before {
	animation: down-arrow-before 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll-down-dude:after {
	animation: down-arrow-after 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes down-arrow-before {
	50% {
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-after {
	50% {
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}


/* ANIMATED GRADIENT BORDER (codepen creds: Johnny Fekete) */

.animated-box {
    position: relative;
}

.animated-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(120deg, rgb(76 90 68), rgb(241 252 232), rgb(243 202 189));
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
    animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 15% 0%;
    }
    50% {
        background-position: 85% 100%;
    }
    100% {
        background-position: 15% 0%;
    }
}


/* ANIMATED SPLASH INTRO */

.splash-intro {
    background: rgb(163 191 141);
    position: fixed;
    width: 100%;
    height: 100vh;
    color: rgb(255 255 255);
    display: grid;
    place-items: center;
    z-index: 1;
    
    animation-name: intro-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes intro-animation {
    0% {
    }
    80% {
        transform: translateY(0%);
    }
    100% { 
        transform: translateY(-100%);
    }
}

.splash-intro .splash-logo {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(255 255 255);
    display: grid;
    place-items: center;
    border-radius: 100%;
    
    animation-name: logo-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes logo-animation {
    0% {
        opacity: 0;
        transform: scale(.8);
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
    opacity: 0;
    transform: scale(1.2);
    }
}


/* SCROLL-TRIGGERED ANIMATIONS ("REVEALER") */

.revealer * {
    transition: transform .4s cubic-bezier(0, .5, .5, 1);
    transition: opacity .4s linear;
    opacity: 0;
    transform: translateY(-20px);
}

.revealer *:nth-child(1) {
    transition-delay: .2s;
}

.revealer *:nth-child(2) {
    transition-delay: .4s;
}

.revealer *:nth-child(3) {
    transition-delay: .6s;
}

.revealer *:nth-child(4) {
    transition-delay: .8s;
}

.revealer *:nth-child(5) {
    transition-delay: .9s;
}

.revealer *:nth-child(6) {
    transition-delay: 1s;
}

.revealer *:nth-child(7) {
    transition-delay: 1.1s;
}

.revealer *:nth-child(8) {
    transition-delay: 1.2s;
}

.revealer *:nth-child(9) {
    transition-delay: 1.3s;
}

.revealer *:nth-child(10) {
    transition-delay: 1.4s;
}

.active * {
    opacity: 1;
    transform: translateY(0);
}